* @kinde-starter-kits/giants-kinde

# Dependency-related files
package.json @kinde-starter-kits/sdk-engineers
**/package.json @kinde-starter-kits/sdk-engineers
package-lock.json @kinde-starter-kits/sdk-engineers
**/package-lock.json @kinde-starter-kits/sdk-engineers
